.offers{
    width: 65%;
    height: 80vh;
    display: flex;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px;
    background: linear-gradient(180deg, #9ee7ec, #d6f3de22 80%);

}
.offers-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.offers-left h1{
    color: rgb(32, 32, 32);
    font-size: 80px;
    font-weight: 600;
}
.offers-left p{
    color: rgb(32, 32, 32);
    font-size: 22px;
    font-weight: 600;
}
.offers-left button{
    width: 282px;
    height: 50px;
    border-radius: 35px;
    background-color: #ff2a2a;
    border: none;
    color: white;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
    cursor: pointer;
}
.offers-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 60px;
}